// VARIABLES
// Colors:
$color-secondary: #66e2dc;
$color-primary: #fa7453;
$color-tertiary: #ffb964;
$color-white: #fcfaf9;
$color-black: #191826;

// Typography:
$font-primary: "IBM Plex Sans", sans-serif;

// MIXINS

// Tablet size: 768px/48em
// Desktop size: 1200px/75em
// XL-Desktop size: 1600px/100em

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xl-desktop {
    @media (min-width: 100em) {
      @content;
    }
  }
}

// KEYFRAMES

@keyframes btnPress {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0%);
  }
}

// BASE STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-primary;
  background-color: $color-white;
  background-image: url(../assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top -200px right -180px;
  max-width: 2000px;

  @include respond(tablet) {
    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-tablet.png);
    background-position: top -30px right -30px, top -220px right -100px;
    background-size: 266px 400px, auto;
  }
  @include respond(desktop) {
    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-desktop.png);
    background-position: top -30px right 0, top -220px right -220px;
    background-size: auto, auto;
  }
}

// ULTILITIES
.container {
  width: 90%;
  margin: 0 auto;
  @include respond(desktop) {
    width: 77%;
  }
  @include respond(xl-desktop) {
    width: 65%;
    max-width: 1110px;
  }
}

.header {
  margin-top: 2.4em;
  // margin-top: 2.5em; //40px;
  margin-bottom: 4em;
  // margin-bottom: 4.13em; //66px;
  padding-left: 5px; // moves into place for PerfectPixel
  & .logo {
    display: block;
    height: 32px;
    width: 146px;
  }
  @include respond(tablet) {
    margin-top: 3.88em; //62px;
    margin-bottom: 5.94em; //95px;
  }
  @include respond(desktop) {
    margin-bottom: 7.94em; //127px
  }
}
.hero {
  color: $color-black;
  margin-bottom: 164px;
  padding-left: 5px; // moves into place for PerfectPixel
  @include respond(tablet) {
    margin-bottom: calc(164px + 82px);
  }
  @include respond(desktop) {
    margin-bottom: calc(164px + 158px);
  }
  &__title {
    // font-size: clamp(2.5rem, 1.8rem + 4.5vw, 5.5rem);
    font-size: 2.5rem;
    line-height: 1.2em;
    letter-spacing: -0.45px;
    width: 80%;
    margin-bottom: 0.5em; // 20px;
    @include respond(tablet) {
      font-size: 4rem;
      line-height: 1em;
      letter-spacing: -0.73px;
    }
    @include respond(desktop) {
      font-size: 5.5rem;
      letter-spacing: -1px;
      // margin-bottom: 0.34em; // 30px;
      margin-bottom: 40px;
      width: 85%;
    }
  }
  &__description {
    line-height: 1.63em; // 26px
    width: 98%;
    @include respond(tablet) {
      font-size: 1.125rem;
      line-height: 1.56em;
      width: 74%;
    }
    @include respond(desktop) {
      font-size: 1.25rem;
      line-height: 1.7em;
      width: 80%;
    }
  }
}
.premium {
  max-width: 1110px;

  @include respond(tablet) {
    width: 90%;
    margin: 0 auto;
  }
  @include respond(desktop) {
    width: 77%;
  }
  &__content {
    background-color: $color-black;
    background-image: url(../assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 50%;
    background-size: 280px 420px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    @include respond(tablet) {
      background-position: top -30px left 50%;
      height: 600px;
    }
    @include respond(desktop) {
      background-position: top -40px left 43%;

      background-size: 312px 468px;
    }
  }
  & .app-img {
    width: 209px;
    position: relative;
    top: -98px;
    @include respond(tablet) {
      width: 270px;
      position: absolute;
      top: -138px;
      left: 50px;
    }
    @include respond(desktop) {
      width: 312px;
      top: -214px;
      left: 100px;
    }
  }
  & .card {
    margin-top: -50px;
    color: $color-white;
    background-color: $color-primary;
    border-radius: inherit;
    padding: 3em 2.25em; // 48px 36px;
    @include respond(tablet) {
      // padding: 3em; // 48px;
      padding: 3em 3em 3em 2.5em;
      position: absolute;
      top: 150px;
      right: 50px;
      min-width: 399px;
      max-width: 50%;
      margin-top: 0;
    }
    @include respond(desktop) {
      // padding: 3.63em 3.38em 3em 3.38em; // 58px 54px 48px 54px;
      padding: 3.63em 3.5em 3em 3.38em; // 58px 54px 48px 54px;

      max-width: 40%;
      top: 90px;
      right: 96px;
    }
    &__title {
      font-weight: bold;
      font-size: 2rem; // 32px;
      // margin-bottom: 0.63em; // 10px
      margin-bottom: 0.4em;
      @include respond(tablet) {
        margin-bottom: 0.35em;
        // margin-bottom: 0.75em; // 12px
      }
      @include respond(desktop) {
        font-size: 2.5rem; // 40px
        margin-bottom: 0.55em; // 22px
      }
    }
    &__description {
      font-size: 1.125rem; // 18px
      line-height: 1.56em; // 28px
      // margin-bottom: 2.06em; // 37px;
      margin-bottom: 1em;
      @include respond(tablet) {
        margin-bottom: 1em;
      }
      @include respond(desktop) {
        font-size: 1.25rem; // 20px
        line-height: 1.7em; // 34px
        margin-bottom: 1.1em;
        // margin-bottom: 2.15em; // 43px;
      }
    }
    &__pricing {
      font-size: 20px;
      // margin-bottom: 1.5em; // 30px;
      margin-bottom: 0.7em;
      padding-left: 5px;
      display: flex;
      align-items: center;
      @include respond(tablet) {
        margin-bottom: 0.7em;
      }
      @include respond(desktop) {
        margin-bottom: 1.5em;
        // margin-bottom: 2.3em; // 46px;
        padding-left: 0;
      }
      & > span {
        font-size: 65px;
        font-weight: bold;
        margin-right: 1rem;
      }
    }
    .btn-container {
      display: flex;
      flex-direction: column;
      gap: 0.9em;
      padding-left: 5px; // moves into place for PerfectPixel
      .btn {
        border-radius: 12px;
        font-weight: bold;
        font-size: 1.125rem; // 18px
        padding: 1.11em 0; // 20px 0;
        display: flex;
        justify-content: center;
        gap: 3px;
        &__download--ios,
        &__download--android {
          &::before {
            content: " ";
            display: block;
            width: 17px;
            height: 20px;
            background-repeat: no-repeat;
          }
          &:hover,
          &:focus {
            transform: scale(1.01);
            box-shadow: 0 3px 6px rgba($color-black, 0.3);
          }
          &:active {
            animation: btnPress 0.4s ease;
          }
        }
        &__download--ios {
          background-color: $color-black;
          color: $color-white;
          transition: 0.2s ease-in;
          &::before {
            background-image: url(../assets/icon-apple.svg);
          }
          &:hover,
          &:focus {
            background-color: $color-secondary;
          }
        }
        &__download--android {
          background-color: $color-white;
          color: $color-black;
          transition: 0.2s ease-in;
          &::before {
            background-image: url(../assets/icon-android.svg);
          }
          &:hover,
          &:focus {
            background-color: $color-tertiary;
          }
        }
      }
    }
  }
}
.footer {
  margin-top: 3.81em; // 61px
  margin-bottom: 5em; // 80px;
  padding-left: 5px; // moves into place for PerfectPixel
  @include respond(tablet) {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 180px;
    margin-bottom: 5.3em; // 85px;
  }
  @include respond(desktop) {
    grid-template-columns: 1fr 1.4fr 1.5fr;
    grid-template-rows: 1fr;
    margin-top: 200px;
    margin-bottom: 5.6em; // 90px;
  }
  &__logo {
    margin-bottom: 1.7em;
    // margin-bottom: 2em; // 32px;
    grid-column: 1;
    grid-row: 1;
    @include respond(desktop) {
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__text {
    line-height: 1.63em; // 26px
    grid-column: 1;
    grid-row: 2;
    @include respond(desktop) {
      grid-column: 2;
      grid-row: 1;
      // margin-left: -80px;
    }
  }
  .copyright,
  &__email-info {
    display: block;
  }
  &__email-info {
    color: inherit;
    font-weight: bold;
    &:hover,
    &focus {
      text-decoration: underline;
    }
    @include respond(tablet) {
      display: inline-block;
    }
  }
  .socials__container {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    margin-top: 4em; // 64px;
    display: flex;
    gap: 20px;
    color: $color-black;
    @include respond(tablet) {
      margin-top: 0;
      align-items: center;
    }
    @include respond(desktop) {
      grid-column: 3;
      grid-row: 1;
    }
    .link__svg {
      color: $color-black;
      transition: 0.2s ease-in;
      &:hover,
      &:focus {
        color: $color-primary;
        transform: scale(1.2);
      }
    }
  }
}
